APP_ENV=dev
LOG_LEVEL=trace
LOG_DAILY=true
LOG_PATH=logs
MAX_SIZE=100
MAX_AGE=5
MAX_BACKUPS=5
COMPRESS=true

FIBER_PORT=3007

POSTGRES_HOST=localhost
POSTGRES_PORT=5447
POSTGRES_USER=postgres
POSTGRES_PASS=123456xyz
POSTGRES_DATABASE=crm_gocas
POSTGRES_SSLMODE=disable

DB_DSN=host=${POSTGRES_HOST} user=${POSTGRES_USER} password=${POSTGRES_PASS} dbname=${POSTGRES_DATABASE} port=${POSTGRES_PORT} sslmode=${POSTGRES_SSLMODE} TimeZone=Asia/Ho_Chi_Minh
DB_DRIVER=postgres

REDIS_PORT=6327
REDIS_HOST=127.0.0.1:${REDIS_PORT}
REDIS_DB=0
REDIS_PASSWORD=123456Xyz
REDIS_USERNAME=crm-gocas
REDIS_URI=redis://${REDIS_USERNAME}:${REDIS_PASSWORD}@${REDIS_HOST}
# REDIS_URI=redis://${REDIS_HOST}
REDIS_CACHE=60