# Binaries (File thực thi sau khi build)
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

.idea/*

logs/*

# PostgreSQL data
docker/postgres/

# PostgreSQL backup
docker/postgres_backup/

# Redis data
docker/redis/

*_templ.go
tmp

# Test binary, profiling
*.test
*.out
*.prof

# Môi trường (Cực kỳ quan trọng)
.env
