package layouts

templ Footer() {
    <footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                © 2025 Networld Solution.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block" data-key="t-design-and-develop">
                    Design & Develop by Networld Solution
                </div>
            </div>
        </div>
    </div>
</footer>
}